<!DOCTYPE html>
<html>
<head>
	<title>Deck of Cards Workout</title>
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="random.js"></script>
	<style>
	body {
		
		background-color: olivedrab;
		
	}
	</style>
</head>
<body>
	<header>
		<h1>Deck of Cards Workout</h1> 
	</header>
	<h1>The deck of cards workout is a fast-paced, conditioning-style workout that uses a deck of cards to randomly serve up various exercises and rep counts. <br>
		Each suit corresponds to a specific exercise and the card number indicates the number of reps you have to complete.</h1>
	<h1>

	<input type="text" id="plyrname" onfocus="this.value=''"> <button type="button" onclick="createPlayers()">Add player</button> <br>
	</h1> <br>

	<div class="stat">
	<span id= "rest"> </span> <br>
	<span id= "mine"> </span> <br>
	

	<span id= "ran"> </span><br>
	<span id= "sink"> </span> <br>
	</div>

	<div id= "div1" class="Gamers">
		
	</div>
	
	<!--<button onclick="torol()">Clear</button><br>-->





</body>
</html>
